// app global css in SCSS form

.border-all {
  border: 2px solid;
}

.border-top {
  border-top: 2px solid;
}

.border-right {
  border-right: 2px solid;
}

.border-bottom {
  border-bottom: 2px solid;
}

.border-left {
  border-left: 2px solid;
}

.border-primary {
  border-color: $primary;
}

.info-tab-root {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;

  > .info-tab {
    @extend .border-all;
    @extend .border-primary;
  }
}

.card-info-basic {
  min-width: 30rem;
}

.wrap-whitespace {
  > .q-dialog__message {
    white-space: pre;
  }
}

// ApexCharts

body {
  overflow-x: hidden;
  max-width: 100%;
}

div.apexcharts-canvas.apexcharts-theme-dark > svg {
  background-color: transparent !important;
}

.apexcharts-material-icon {
  font-size: 1.5rem;
}
